<DOCTYPE html>
<html>
	<head>
		<title>Random RPG</title>
	</head>
	<body>
		<p> Home page for the application<p>
		<p> Perhaps this will be combined with the select-a-game page, or maybe it could be a splash screen or about page<p>
	</body>
</html>
