<DOCTYPE html>
<html>
	<head>
		<title>Random RPG</title>
	</head>
	<body>
		<p>The player console will contain a tabletop (chat window + dice roller).  It will also have a character sheet window for the player's character.<p>
	</body>
</html>
