<DOCTYPE html>
<html>
	<head>
		<title>Random RPG</title>
	</head>
	<body>
		<p>Here will be a player form that will allow the player to select a genre and/or system.  The submit action will assign them to a random game of the type specified<p>
		<p>There will also be a GM form that will allow GMs to set up genre/system, min and max players, and a brief synopsis of the game.  The submit action will create a new game and add it to the list of games that will be assigned to players.<p>
	</body>
</html>
